<div class="bienvenida-container">
    <div class="left-side">
        <div class="bienvenida-header">
            <h1>Bienvenido, {{ getUser().username }}!</h1>
            <p>Usuario: {{ usuario.rolRolid }} - {{ getUser().email }}</p>
          </div>
        
          <div class="bienvenida-content">
            <!-- Mostrar total de turnos atendidos -->
            <div *ngIf="usuario.rolRolid === 2">
              <h3>Turnos atendidos hoy:</h3>
              <p>{{ turnosAtendidosGestor }} turnos asignados por ti a los cajeros.</p>
            </div>
        
            <div *ngIf="usuario.rolRolid === 1">
              <h3>Turnos atendidos hoy:</h3>
              <p>{{ turnosAtendidosAdmin }} turnos atendidos en total hoy.</p>
            </div>
        
            <!-- Mostrar usuarios pendientes de aprobación (solo para Gestor) -->
            <!-- <div *ngIf="usuario.rol === 'Gestor'">
              <h3>Usuarios pendientes de aprobación:</h3>
              <p>{{ usuariosPendientesAprobacion }} usuarios pendientes de aprobación.</p>
            </div> -->
          </div>
    </div>
    <img src="assets/welcome-bg.avif" alt="">
  </div>
  